In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkConf,SparkContext

config= SparkConf().setAppName("Traffic_Data_Analysis").setMaster("local[*]")

sc= SparkContext(conf=config)

In [ ]:
data =sc.tex

In [4]:
import pandas as pd

df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'C': [7, 8, 9], 'D': [10, 11, 12]})

merged_df = df1.merge(df2, left_index=True, right_index=True)

In [5]:
merged_df

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [8]:
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('example').getOrCreate()

df1 = spark.createDataFrame([(1, 4), (2, 5), (3, 6)], ['A', 'B'])
df2 = spark.createDataFrame([(7, 10), (8, 11), (9, 12)], ['C', 'D'])

df1 = df1.withColumn('idx', monotonically_increasing_id())
df2 = df2.withColumn('idx', monotonically_increasing_id())

merged_df = df1.join(df2, on='idx').drop('idx')

In [10]:
merged_df.show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  1|  4|  7| 10|
|  2|  5|  8| 11|
|  3|  6|  9| 12|
+---+---+---+---+

In [12]:
from pyspark.sql.functions import col

# Create employees dataframe
employees = spark.createDataFrame([(1, 'Alice', None),
                                   (2, 'Bob', 1),
                                   (3, 'Charlie', 2),
                                   (4, 'Dave', 2),
                                   (5, 'Eve', 1)], 
                                  ['employee_id', 'name', 'manager_id'])

# Self join employees dataframe to get name of manager for each employee
joined_df = employees.alias('e1').join(employees.alias('e2'),col('e1.manager_id') == col('e2.employee_id'),'left').select(col('e1.name').alias('employee_name'),col('e2.name').alias('manager_name')).orderBy('employee_name')

# Show the joined dataframe
joined_df.show()

+-------------+------------+
|employee_name|manager_name|
+-------------+------------+
|        Alice|        null|
|          Bob|       Alice|
|      Charlie|         Bob|
|         Dave|         Bob|
|          Eve|       Alice|
+-------------+------------+